<template>
  <div>
    <NuxtPage />
  </div>
</template>

<style>
html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #43a047);
}
</style>