<script setup>
import { useAuthStore } from "@/stores/AuthStore";

const router = useRouter();
const authStore = useAuthStore();

const user = ref({ ...authStore.user });

const login = async () => {
    try {
      const loginResult = await authStore.login(user.value);
      if (loginResult.succes === 'true') {
        router.push('/home');
      } else {
        alert('Usuário ou senha incorretos');
      }
    } catch (error) {
      console.error('Erro durante o login:', error.message);
    }
  };
  const onSubmit = async () => {
    login();
  };

  const register = () => {
    router.push('/register');
  }
</script>
<template>
  <div class="login-container">
    <v-card class="login-box">
      <v-card-header>
        <v-card-title>Login</v-card-title>
      </v-card-header>
        <div class="user-box">
            <input type="text" name="" v-model="user.email">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="" v-model="user.password">
            <label>Senha</label>
        </div>
        <v-btn @click="onSubmit">
            Entrar
        </v-btn>
        <v-btn @click="register">
            Registrar
        </v-btn>
      </v-card>
  </div>
</template>
 
<style scoped>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .login-box h2 {
    text-align: center;
    color: #333;
  }

  .user-box {
    position: relative;
    margin-bottom: 25px;
  }

  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
  }

  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
  }

  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #3498db;
  }

  a {
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
  }

  a:hover {
    background-color: #267bb6;
  }
</style>